<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<title>MOTO VIBE 3000</title>
<style>
body { background:#2e2e2e; color:#eee; font-family:Arial; text-align:center; padding:50px; }
h1 { font-size:36px; color:white; margin-bottom:50px; }
button { font-size:22px; padding:15px 50px; margin:15px; border-radius:10px; cursor:pointer; }
.login { background-color:#555; color:white; }
.register { background-color:#007BFF; color:white; }
.exit { background-color:#A52A2A; color:white; }
img { max-height:400px; margin-bottom:30px; }
</style>
</head>
<body>
<img src="/static/logo.png" alt="Logo MOTO VIBE 3000">
<h1>🚗 MOTO VIBE 3000 🚗<br>WYPOŻYCZALNIA POJAZDÓW</h1>
<div>
    <button class="login" onclick="location.href='/login'">Zaloguj się</button>
    <button class="register" onclick="location.href='/register'">Zarejestruj się</button>
    <button class="exit" onclick="location.href='/exit'">Zamknij program</button>
</div>
</body>
</html>
